<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="alert alert-danger mt-5" role="alert" *ngIf="!deleted">
            <h4 class="alert-heading">Atenção</h4>
            <p>Você realmente deseja excluir a conta a pagar selecionada?</p>
            <hr>
            <p class="mb-0">
                <button class="btn btn-danger mr-5" (click)="delete()">Excluir</button>
                <button class="btn btn-success" (click)="back()">Cancelar</button>
            </p>
        </div>
        <div class="alert alert-success mt-5" role="alert" *ngIf="deleted">
            <h4 class="alert-heading">Excluir</h4>
            <p>Conta a pagar excluída com sucesso.</p>
            <hr>
            <p class="mb-0">
                <button class="btn btn-success" (click)="back()">Voltar</button>
            </p>
        </div>
    </div>
    <div class="col-2"></div>
</div>